<center><span style='color:red'; font-size:30px>DATAFRAME</span></center>

<div class=text-justify>
DataFrame es una estructura de datos 2D. El marco de datos se utiliza para representar datos en formato tabular en filas y columnas. Es como una hoja de cálculo o una tabla sql. DataFrame es un objeto Pandas.<br/><br/>

Para crear un marco de datos, necesitamos importar pandas. El DataFrame se puede crear usando la función DataFrame(). El DataFrame() toma uno o dos parámetros. El primero son los datos. Los datos pueden estar en forma de lista de listas o diccionario de listas. En el caso de datos de lista de listas, el segundo parámetro es el nombre de las columnas.
</div>

#### CREAR UN DATAFRAME DE UN DICCIONARIO DE LISTAS

In [4]:
import pandas as pd

datos_d = {'Nombre':['Luis','Carlos','Carmen'], 'Edad':[23,22,21]}

df = pd.DataFrame(datos_d)

print(df)

   Nombre  Edad
0    Luis    23
1  Carlos    22
2  Carmen    21

In [7]:
import pandas as pd

datos_d = {'B':'Black', 'W':'White', 'R':'Red','G':'Green'}

df = pd.DataFrame(datos_d,index=['Color'])

df

           B      W    R      G
Color  Black  White  Red  Green

#### CREAR UN DATAFRAME A PARTIR DE UNA LISTA DE LISTAS(MATRIZ)

In [8]:
import pandas as pd

datos_m = [['A1','Luis',23],['A2','Carmen',21],['A3','Miguel',20]]

df = pd.DataFrame(datos_m, columns=['IdAlumno','Nombre','Edad'])

print(df)

  IdAlumno  Nombre  Edad
0       A1    Luis    23
1       A2  Carmen    21
2       A3  Miguel    20

#### CREAR UN DATAFRAME A PARTIR DE UNA LISTA

In [9]:
import pandas as pd

datos_l = [8,9,1,4,5]

df = pd.DataFrame(datos_l, columns=['Numero'])

print(df)

   Numero
0       8
1       9
2       1
3       4
4       5

#### CREAR UN DATAFRAME A PARTIR DE UNA CADENA

In [10]:
cadena = 'ABCDEFGHIJKLMNÑOPQRSTUVWXYZ'

datos_l = list(cadena)

df = pd.DataFrame(datos_l, columns=['Alfabeto'])

print(df)

   Alfabeto
0         A
1         B
2         C
3         D
4         E
5         F
6         G
7         H
8         I
9         J
10        K
11        L
12        M
13        N
14        Ñ
15        O
16        P
17        Q
18        R
19        S
20        T
21        U
22        V
23        W
24        X
25        Y
26        Z

#### CREAR UN DATAFRAME A PARITR DE UNA LISTA DE TUPLAS

In [13]:
import pandas as pd

datos_l = [('A1','Luis',23),('A2','Carmen',21),('A3','Miguel',20)]

df = pd.DataFrame(datos_l, columns=['IdAlumno','Nombre','Edad'])

print(df)

df

  IdAlumno  Nombre  Edad
0       A1    Luis    23
1       A2  Carmen    21
2       A3  Miguel    20

  IdAlumno  Nombre  Edad
0       A1    Luis    23
1       A2  Carmen    21
2       A3  Miguel    20

#### CREAR DATAFRAME

In [24]:
import pandas as pd

df = pd.DataFrame(
      {
      "IdAlumno":['A1','A2','A3','A4'],
      "Nombre":['Luis','Miguel','Carlos','Miguel'],
      "Edad":[23,22,21,24]
      }
)

df

values = [1,2]

print(df['IdAlumno'])



x = df[df['Edad'].isin([1,2])]
print(x)

0    A1
1    A2
2    A3
3    A4
Name: IdAlumno, dtype: object
Empty DataFrame
Columns: [IdAlumno, Nombre, Edad]
Index: []