In [2]:
import pandas as pd

EJEMPLO 1: CREAR UN DATAFRAME DESDE UN DICCIONARIO

In [7]:
data = {
   'Nombre': ['Juan', 'María', 'Carlos', 'Laura'],
   'Edad': [25, 30, 22, 28],
   'Ciudad': ['Bogotá', 'Madrid', 'México DF', 'Lima']
}

df = pd.DataFrame(data)
print("DataFrame creado desde un diccionario:")
#print(df.to_string(justify='left', index=False))
df

DataFrame creado desde un diccionario:

   Nombre  Edad     Ciudad
0    Juan    25     Bogotá
1   María    30     Madrid
2  Carlos    22  México DF
3   Laura    28       Lima

In [11]:
ruta_archivo = 'trabajador.csv'

# Lee el archivo CSV en un DataFrame
df = pd.read_csv(ruta_archivo)
print(df)

        T1;Lucrezia;Berroeta;1;532
0         T2;Faith;Olmedo;4;149#10
1        T3;Nathalie;Moncada;1;311
2      T4;Hudson;Espinoza;3;230515
3    T5;Katherine;Oprea;2;429#2657
4            T6;Isidro;Rizzo;1;318
..                             ...
494         T496;Yann;Llobet;1;498
495  T497;Mathieu;Arrieta;3;238193
496   T498;Morgan;Beobide;4;121#15
497    T499;Sara;Stoica;2;404#2743
498    T500;Nicole;Amador;3;221081

[499 rows x 1 columns]

In [24]:
def ejemplo3():
    nra = '/trabajador.csv'
    try:
         with open(nra, 'r') as f:
              filas = csv.reader(f,delimiter=';')
              filas_lst = list(filas)
              cabecera()
              for fila in filas_lst:
                  idTrabajador =  fila[0] 
                  nombre = fila[1] 
                  apaterno = fila[2]
                  tipoTrabajador = fila[3]
                  parametrosSueldo = fila[4]
                  cuerpo(idTrabajador,nombre,apaterno,tipoTrabajador,parametrosSueldo)
    except:
        print('ERROR: LECTURA')

def cabecera():
    print('%-12s %-12s %-12s %16s %-12s' % ('IDTRABAJADOR','NOMBRE','APATERNO','TIPO-TRABAJADOR','PARA-SUELDO'))
    print('%-12s %-12s %-12s %16s %-12s' % ('------------','------','--------','---------------','-----------'))

def cuerpo(idTrabajador,nombre,apaterno,tipoTrabajador,parametrosSueldo):
    print('%-12s %-12s %-12s %16s %-12s' % (idTrabajador,nombre,apaterno,tipoTrabajador,parametrosSueldo))

In [25]:
ejemplo3()

ERROR: LECTURA

In [26]:
import pandas as pd

# Especifica la ruta de tu archivo CSV
ruta_archivo = 'trabajador.csv'

# Lee el archivo CSV en un DataFrame
df = pd.read_csv(ruta_archivo)

# Muestra el DataFrame
df

        T1;Lucrezia;Berroeta;1;532
0         T2;Faith;Olmedo;4;149#10
1        T3;Nathalie;Moncada;1;311
2      T4;Hudson;Espinoza;3;230515
3    T5;Katherine;Oprea;2;429#2657
4            T6;Isidro;Rizzo;1;318
..                             ...
494         T496;Yann;Llobet;1;498
495  T497;Mathieu;Arrieta;3;238193
496   T498;Morgan;Beobide;4;121#15
497    T499;Sara;Stoica;2;404#2743
498    T500;Nicole;Amador;3;221081

[499 rows x 1 columns]

In [27]:
# Ajusta la longitud máxima de las columnas y la justificación a la izquierda
pd.set_option('display.max_colwidth', -1)
pd.set_option('colheader_justify', 'left')

# Muestra el DataFrame
df

ValueError: Value must be a nonnegative integer or None

In [28]:
import pandas as pd

# Especifica la ruta de tu archivo CSV
ruta_archivo = 'trabajador.csv'

# Lee el archivo CSV en un DataFrame
df = pd.read_csv(ruta_archivo)

# Ajusta la longitud máxima de las columnas y la justificación a la izquierda
pd.set_option('display.max_colwidth', -1)
pd.set_option('colheader_justify', 'left')

# Muestra el DataFrame
df

ValueError: Value must be a nonnegative integer or None

In [29]:
df_train = pd.read_csv('trabajador.csv')
df_train.describe()

       T1;Lucrezia;Berroeta;1;532
count                         499
unique                        499
top      T2;Faith;Olmedo;4;149#10
freq                            1